body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #eceff1;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
  flex: 1
}

.container {
  max-width: 1040px !important;
}

.hidden {
  display: none !important;
}

main {
  margin-top: 90px !important;
}

.infoSide {
  background-color: #bfcbd1;
  border: 1px solid #718792;
  padding: 10px;
  margin: 0;
  max-width: 100%;
}

.public-DraftEditor-content { 
  min-height: 110px; 
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: bold !important;
}

#teamInfo {
  position: relative;
  margin: 0 !important;
}

main a,
main a:focus {
  color: #455a64;
  text-decoration: none;
  border-bottom: 1px solid #455a64;
}

.plainLink,
.plainLink:hover,
.plainLink:active,
.plainLink:focus {
  border-bottom: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center !important;
}

.team-info-logo {
  width: inherit;
}

@media screen and (min-width: 768px) {
  #menuButton {
    display: none;
  }
  #userMenu {
    display: block;
  }
}